* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 36px;
    font-family: 'Noto Sans TC', sans-serif;
}
body{
    display: flex;
    justify-content: center;
}
*,
*:after,
*::before {
    box-sizing: inherit;
}

.header {
    max-width: 1440px;
    width: 100%;
    height: 90px;
    margin: 0 auto auto auto;
    display: flex;
    background-color: #c6ac8f;
}

.logo {
    width: 116px;
    height: 85px;
}

/* header左邊 */
.header-left {
    width: 116px;
    height: 85px;
    margin-left: 74px;
}

/* header右邊導覽列 */
.nav {
    width: 400px;
    height: 90px;
    margin: 0 59px 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    width: 400px;
    display: flex;
    /* list並排 */
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.nav-list-item {
    list-style: none;
    /* li的圓圈符號移除 */
    line-height: 32px;
}

.nav-list-photoitem {
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: 0;
    list-style: none;
    /* li的圓圈符號移除 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list-item-link {
    font-size: 0.44em;
    font-weight: bold;
    color: #073b4c;
    display: block;
    /* 用成可以換行、調整大小、有box屬性 */
    text-decoration: none;
}

.nav-list-item-link:hover{
    color:#ffffff;
}

.header-photo-1 {
    width: 182px;
    height: 132px;
}

/* 網頁內容 */
.container{
    max-width: 1440px;                                 /*設定最大寬度*/
    width: 100%;
    /* height: 100vh; */
    margin:auto 0;                                      /* 水平置中指令 */
    display: flex;
    padding: 0;
    flex-direction: column;
    position: relative;
}

/* 內容區(固定footer在最底下) */
.content-area {
    display: flex;
    flex:1;
    margin: 80px 0 0 0;
    flex-direction: column;
    align-items: center;  
}
.title{
    margin-bottom: 80px;
}
.title p {
    width: 145px;
    font-size: 0.67em;
    font-weight: bold;
    color: #073B4C;
    text-align: center;
    line-height: 30px;
    align-self: center;
}

.fa-arrow-left {
    color:#8E6E53;
}

.shoppingMore {
    position: absolute;
    left: 15%;
    top:14%;
    font-weight: bold;
    font-size: 16px;
    color:#8E6E53;
    text-decoration: none;
    /* align-self: flex-start; */
    margin-top: 30px;
    margin-bottom: 10px;
}

/* product */
.product {
    display: flex;
    justify-content:center;
    width: 390px;
    padding: 50px 50px;
    align-items: center;
}

.product img {
    width: 222px;
    height: 171px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.productInfo p {
    font-size: 0.67em;
    color: #8E6E53;
    font-weight: bold;
    margin-bottom: 20px;
}

.quantity {
    display: flex;
}

.quantity_subtract, .quantity_plus {
    width: 43px;
    height: 46px;
    color:black;
    border-color: #8E6E53;
    font-size: 0.44em;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}

.quantity_subtract {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #8E6E53;
    border: 1px solid #8E6E53;
}

.quantity_plus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #8E6E53;
    border: 1px solid #8E6E53;
}

.quantity_number {
    border: 1px #8E6E53 solid;
    width: 70px;
    height: 46px;
    font-size: 0.44em;
    color:#8E6E53;
    text-align: center;
    border-left: transparent;
    border-right: transparent;
}

.quantity_subtract:hover {
    background-color: #EAE0D5;
}

.quantity_subtract:active {
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px #EAE0D5;
}

.quantity_plus:hover {
    background-color: #EAE0D5;
}

.quantity_plus:active {
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px #EAE0D5;
}

.eachHr {
    width: 80%;
    color: 8E6E53;
}

/* shipping */
.shipping {
    display: flex;
    margin: 50px 0;
}
label{
    width: 64px;
}
.shipping label {
    font-size: 0.44em;
    color: #8E6E53;
    margin-right: 150px;
    align-self: center;
    font-weight: bold;
}

#method {
    border: 1px solid #8E6E53;
    color: #8E6E53;
    width: 145px;
    height: 35px;
    font-size: 0.44em;
    padding: 3px 3px;
}

.totalMoney {
    position: absolute;
    right: 10%;
    bottom: 47%;
    /* align-self: flex-end; */
    margin-bottom: 80px;
}

.totalMoney p {
    font-size: 0.67em;
    font-weight: bold;
    color: #8E6E53;
    display: inline;
    margin-right: 20px;
    /* margin-left: 80px; */
}

.memberTitle {
    margin: 150px 50px 50px 50px;
}

/* memberInfo */
.memberInfo {
    display: flex;
    flex-direction: column;
}

.eachInfo {
    display: flex;
    margin-top: 40px;
}

.labelItem {
    font-size: 0.44em;
    font-weight: bold;
    color: #8E6E53;
    text-align: center;
    align-self: center;
    margin-right: 50px;
}

#name, #email, #phone {
    display: inline;
    border:1px #8E6E53 solid;
    width: 300px;
    height: 30px;
    color: #8E6E53;
    font-size: 0.44em;
    padding-left: 8px;
}

#submitOrder {
    width: 136px;
    height: 46px;
    text-align: center;
    background-color: #c6ac8f;
    color:#ffffff;
    font-size: 0.56em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 100px;
}

#submitOrder:hover {
    background-color: #B19A7F;
}

#submitOrder:active {
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px #99856E;
}

/* footer */
.footer {
    max-width: 1440px;
    width: 100%;
    height: 155px;
    margin: auto auto 0 auto;
    background-color: #c6ac8f;
    border: 0.1px solid #c6ac8f;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;  
}

.footer-icon {
    display: flex;
    /* margin: 40px auto 0 auto; */
    justify-content: space-between;
    width: 134px; 
    /* height: 30px;  */
}

.footer-content {
    width: 398px;
    height: 64px;
    /* margin: 18px auto 52px auto; */
    margin-top: 18px;
    font-size: 0.44em;
    font-weight: bold;
    color: #073b4c;
    text-align: center;
    line-height: 32px;
}

@media screen and (min-width: 0px) {
    .topnav {
        display: block;
    }

    .header {
        display: none;
    }
    #name,#email,#phone{
        width: 200px;
    }
    .product img {
        width: 180px;
    }
    .shipping label {
        margin-right: 80px;
    }
}
@media screen and (min-width: 500px) {
    #name,#email,#phone{
        width: 300px;
    }

}
@media screen and (min-width: 550px) {
    .product img {
        width: 222px;
    }
    .shipping label {
        margin-right: 150px;
    }

}
@media screen and (min-width: 870px) {
    .topnav {
        display: none;
    }

    .header {
        display: flex;
    }

}




