* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 36px;
    font-family: Noto Sans TC;
}

*,
*:after,
*::before {
    box-sizing: inherit;
}

/* header */
.header {
    max-width: 100%;
    width: 100%;
    height: 90px;
    margin: 0 auto auto auto;
    display: flex;
    background-color: #c6ac8f;
}

.logo {
    width: 116px;
    height: 85px;
}

/* header左邊 */
.header-left {
    width: 116px;
    height: 85px;
    margin-left: 74px;
}

/* header右邊導覽列 */
.nav {
    width: 400px;
    height: 90px;
    margin: 0 59px 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    width: 400px;
    display: flex;
    /* list並排 */
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.nav-list-item {
    list-style: none;
    /* li的圓圈符號移除 */
    line-height: 32px;
}

.nav-list-photoitem {
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: 0;
    list-style: none;
    /* li的圓圈符號移除 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list-item-link {
    font-size: 0.44em;
    font-weight: bold;
    color: #073b4c;
    display: block;
    /* 用成可以換行、調整大小、有box屬性 */
    text-decoration: none;
}

.nav-list-item-link:hover {
    color: #ffffff;
}

/* 網頁內容 */
.container {
    max-width: 1440px;
    /*設定最大寬度*/
    /* height: 100vh; */
    margin: auto;
    /* 水平置中指令 */
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* 內容區(固定footer在最底下) */
.content-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex:1; */
}

.content-photo {
    display: flex;
    justify-content: center;
    width: 421px;
    height: 325px;
    margin-right: 60px;
    margin-top: 120px;
}

.content-product {
    width: 421px;
    height: 325px;
    margin-left: 60px;
    margin-top: 120px;
}

.content-product-info {
    display: block;
    font-size: 0.44em;
    color: #606060;
}

.content-product-title {
    display: block;
    font-size: 1em;
    font-weight: bold;
    color: #073b4c;
    margin-top: 20px;
}

.content-product-ENtitle {
    display: block;
    font-size: 1em;
    font-weight: bold;
    color: #c6ac8f;
    margin-top: 18px;
}

.content-product-text {
    display: block;
    font-size: 0.44em;
    margin-top: 54px;
    height: 70px;
}

.content-product-price {
    display: block;
    font-size: 1em;
    font-weight: bold;
    color: #073b4c;
    margin-bottom: 35px;
}


/* bottom-area */
.bottom-area {
    display: flex;
    justify-content: space-between;
}

.quantity {
    display: flex;
}

.quantity_subtract,
.quantity_plus {
    width: 43px;
    height: 46px;
    color: black;
    border-color: #CECDCD;
    font-size: 0.44em;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}

.quantity_subtract {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #CECDCD;
    border: 1px solid #CECDCD;
}

.quantity_plus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #CECDCD;
    border: 1px solid #CECDCD;
}

.quantity_number {
    border: 1px #CECDCD solid;
    width: 100px;
    height: 46px;
    font-size: 0.44em;
    color: black;
    text-align: center;
    border-left: transparent;
    border-right: transparent;
}

.quantity_subtract:hover {
    background-color: #E1E1E1;
}

.quantity_subtract:active {
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px #E1E1E1;
}

.quantity_plus:hover {
    background-color: #E1E1E1;
}

.quantity_plus:active {
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px #E1E1E1;
}

#addCart {
    width: 136px;
    height: 46px;
    text-align: center;
    background-color: #c6ac8f;
    color: #ffffff;
    font-size: 0.56em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline;
}

#addCart:hover {
    background-color: #B19A7F;
}

#addCart:active {
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px #99856E;
}

.contnent-decoration {
    width: 8px;
    height: 32px;
    margin-right: 20px;
    margin-top: 10px;
    background-color: #c6ac8f;
}

.content-description {
    width: 732px;
    /* height: 410px; */
    display: flex;
    margin: 0px 25 0 auto;
    padding-top: 61px;
}

.content-description-title {
    font-size: 0.67em;
    font-weight: bold;
    color: #073b4c;

}

.content-description-text {
    font-size: 0.44em;
}

.line {
    width: 1039px;
    height: 0;
    border: 1px solid #CDCBCB;
    margin: 83px auto 131px auto;
}


/* 圖片大小 */
.header-photo-1 {
    width: 182px;
    height: 132px;

}

.content-photo-1 {
    width: 421px;
    height: 325px;
}

/* footer */
.footer {
    width: 100%;
    height: 155px;
    margin: auto auto 0 auto;
    background-color: #c6ac8f;
    border: 0.1px solid #c6ac8f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-icon {
    display: flex;
    /* margin: 40px auto 0 auto; */
    justify-content: space-between;
    width: 134px;
    /* height: 30px;  */
}

.footer-content {
    width: 398px;
    height: 64px;
    /* margin: 18px auto 52px auto; */
    margin-top: 18px;
    font-size: 0.44em;
    font-weight: bold;
    color: #073b4c;
    text-align: center;
    line-height: 32px;
}

@media screen and (min-width: 0px) {
    .topnav {
        display: block;
    }

    .header {
        display: none;
    }

    .content-photo-1 {
        width: 320px;
        height: 247px;
    }

    .content-product {
        margin-top: 0;
        margin-left: 20px;
    }

    .content-photo {
        margin-right: 0px;
    }

}

@media screen and (min-width: 450px) {
    .content-photo-1 {
        width: 421px;
        height: 325px;
    }

    .content-product {


        margin-top: 30px;
        margin-left: 20px;

    }

}

@media screen and (min-width: 870px) {
    .topnav {
        display: none;
    }

    .header {
        display: flex;
    }

}

@media screen and (min-width: 870px) {
    .content-photo {
        margin-right: 60px;
    }


}
@media screen and (min-width: 920px) {
    .content-product {
        margin-top: 120px;
    }


}