* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 36px;
    font-family: Noto Sans TC;
}

*,
*:after,
*::before {
    box-sizing: inherit;
}

/* header */
.header {
    max-width: 1440px;
    width: 1440px;
    height: 145px;
    margin: 0 auto auto auto;
    display: flex;
    background-color: #c6ac8f;
}

/* header左邊 */
.header-left {
    width: 182px;
    height: 132px;
    margin-left: 74px;
}

/* header右邊導覽列 */
.nav {
    width: 567px;
    height: 35px;
    margin: 55px 59px 55px auto;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    width: 567px;
    display: flex;
    /* list並排 */
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.nav-list-item {

    list-style: none;
    /* li的圓圈符號移除 */
    line-height: 32px;
}

.nav-list-photoitem {
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: 0;
    list-style: none;
    /* li的圓圈符號移除 */
}

.nav-list-item-link {
    font-size: 0.67em;
    font-weight: bold;
    color: #073b4c;
    display: block;
    /* 用成可以換行、調整大小、有box屬性 */
    text-decoration: none;
}

.nav-list-item-link:hover{
    color:#ffffff;
}

/* 網頁內容 */
.container {
    max-width: 1440px;
    /*設定最大寬度*/
    /* height: 100vh; */
    margin: auto;
    /* 水平置中指令 */
    display: flex;
    flex-direction: column;
}

/* 內容區(固定footer在最底下) */
.content-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex:1; */
}

.content-photo {
    width: 421px;
    height: 325px;
    margin-right: 60px;
    margin-top: 225px;
}

.content-product {
    width: 421px;
    height: 325px;
    margin-left: 60px;
    margin-top: 225px;
}
.content-product-title{
    display: block;
    font-size: 1em;
    font-weight: bold;
    color: #073b4c;
    margin-top: 21px;
}
.content-product-ENtitle{
    display: block;
    font-size: 1em;
    font-weight: bold;
    color: #c6ac8f;
    margin-top: 18px;
}
.content-product-text{
    display: block;
    font-size: 0.44em;
    margin-top: 54px;
    height: 92px;
}
.content-product-price{
    display: block;
    font-size: 1em;
    font-weight: bold;
    color: #073b4c;
    margin-bottom: 21px;
}
.contnent-decoration{
    width: 8px;
    height: 32px;
    display:block;
    margin-left: 311px;
    background-color: #c6ac8f;
}
.content-description{
    width: 704px ;
    height: 349px;
    margin: 61px 25 0 auto;
}
.content-description-title{
    font-size: 0.67em;
    font-weight: bold;
    color: #073b4c;
    
}
.content-description-text{
    font-size: 0.44em;
}
.line{
    width: 1039px;
    height: 0;
    border: 1px solid #CDCBCB;
    margin: 83px auto 131px 311px;
}


/* 圖片大小 */
.header-photo-1 {
    width: 182px;
    height: 132px;

}

.content-photo-1 {
    width: 421px;
    height: 325px;
}

/* footer */
.footer {
    width: 1440px;
    height: 205px;
    margin: auto auto 0 auto;
    background-color: #c6ac8f;
    border: 0.1px solid #c6ac8f;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;  
}

.footer-icon {
    display: flex;
    /* margin: 40px auto 0 auto; */
    justify-content: space-between;
    width: 134px; 
    /* height: 30px;  */
}

.footer-content {
    width: 398px;
    height: 64px;
    /* margin: 18px auto 52px auto; */
    margin-top: 18px;
    font-size: 0.44em;
    font-weight: bold;
    color: #073b4c;
    text-align: center;
    line-height: 32px;
}